@import 'abstracts/variables';

.menu-container{
    position: fixed;
    top: 30px;
    left: 50px;
    z-index: 1;
    
    @media screen and (max-width: 550px) {
        left: auto;
        top: auto;
        right: 25px;
        bottom: 50px;
    }

    &--open{
        position: fixed;
    }
}

.repos-container{
    position: fixed;
    bottom: 30px;
    right: 50px;
    
    @media screen and (max-width: 550px) {
        left: 15px;
        right: auto;
    }
}

.reference-container{
    position: fixed;
    top: 50px;
    right: 30px;
    transform: rotate(90deg) translate(100%, 50%);
    transform-origin: 100% 0;

    @media screen and (max-width: 900px) {
        background-color: $secondary-color;
        color: $secondary-text-color;
        padding: 15px 20px;
        right: -10px;
        top: 37px;
    }

    @media screen and (max-width: 650px) {
        transform: none;
        transform-origin: 50% 50%;
        padding: 7.5px 20px;
        right: 25px;
        top: 37px;
    }
}