<header class="frame">
  <vega-menu class="menu-container" [menuVoices]="menuVoices" [mobileMenuOpen]="mobileMenuOpen" (toggledMenu)="onToggleMenu()" [ngClass]="{ 'menu-container--open': mobileMenuOpen }"></vega-menu>
  <vega-repos class="repos-container"></vega-repos>
  <vega-reference class="reference-container" *ngIf="enableReference"></vega-reference>
</header>