@mixin link {
    text-decoration: none;
    color: $primary-text-color;
    position: relative;
    cursor: pointer;

    &:active, &:focus, &:hover{
        text-decoration: none;
    }

    &::after{
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -4px;
        display: block;
        background-color: $primary-text-color;
        transition: width .25s ease-in-out;
    }

    &:hover::after{
        width: 100%;
        transition: width .2s ease-in-out;
    }
}