$primary-color: #242627;
$primary-light-color: #4c4e4f;
$primary-dark-color: #000000;
$secondary-color: #f9ee38;
$secondary-light-color: #ffff70;
$secondary-dark-color: #c2bc00;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;


$dark-theme-background: #242627;
$dark-theme-background-footer:#c9c9c9;

$wrapper-width: 1220px;
$wrapper-width-big: 1000px;
$wrapper-width-tablet: 800px;