@import 'abstracts/variables';
@import 'abstracts/mixins';

.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
    padding-top: 200px;
    
    @media screen and (max-width: 670px) {
        padding-top: 70px;
    }
}

.intro,
.synopsis,
.socials{
    flex: 1 1 100%;
}

.intro__name{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.8rem;
    letter-spacing: 0.1rem;

    @media screen and (max-width: 535px) {
        font-size: 2rem;        
    }

    @media screen and (max-width: 450px) {
        font-size: 1.8rem;        
    }
}

.synopsis__text{
    font-size: 6rem;
    font-weight: 600;
    line-height: 8rem;
    letter-spacing: -0.1rem;
    margin: 20px 0;
    position: relative;

    @media screen and (max-width: 670px) {
        font-size: 5rem;
        line-height: 7rem;
    }

    @media screen and (max-width: 535px) {
        font-size: 4rem;
        line-height: 6rem;
    }

    @media screen and (max-width: 475px) {
        font-size: 3.5rem;
        line-height: 5rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2.5rem;
        line-height: 3rem;       
    }
}

.typo{
    border-left: 4px solid #f9ee38;
    height: 62px;
    display: inline-block;
    animation: blink linear 1.5s infinite;
    -webkit-animation: blink linear 1.5s infinite;
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    
    @media screen and (max-width: 670px) {
        height: 57px;
    }

    @media screen and (max-width: 535px) {
        height: 47px;
    }

    @media screen and (max-width: 475px) {
        height: 44px;
    }
}

@keyframes blink {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.socials__list{
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
}

.social{
    padding: 20px 0;
    flex: 1 1 50%;

    @media screen and (max-width: 450px) {    
        padding: 10px 0;   
    }
}

.social__link{
    @include link;
    font-size: 1.4rem;
    font-weight: 600;    

    @media screen and (max-width: 735px) {
        font-size: 1.8rem;
    }

    @media screen and (max-width: 450px) {    
        font-size: 1.4rem; 
    }
}