<div class="home">
    <section class="intro">
        <h1 class="intro__name">Simone Coletta<br>Front end developer</h1>
    </section>
    <section class="synopsis">
        <p class="synopsis__text">
            I'm a tech enthusiast<br> with a true passion for web<br> and photography <span class="typo"></span>
        </p>
    </section>
    <section class="socials">
        <ul class="socials__list">
            <li class="social">
                <a class="social__link" href="https://github.com/collets" target="_blank" rel="noopener">GitHub</a>
            </li>
            <li class="social">
                <a class="social__link" href="https://bitbucket.org/scoletta-developer/" target="_blank" rel="noopener">Bitbucket</a>
            </li>
            <li class="social">
                <a class="social__link" href="https://500px.com/colletz" target="_blank" rel="noopener">500px</a>
            </li>
            <li class="social">
                <a class="social__link" href="https://www.instagram.com/s.coletta/" target="_blank" rel="noopener">Instagram</a>
            </li>
            <li class="social">
                <a class="social__link" href="https://www.linkedin.com/in/colettasimone/" target="_blank" rel="noopener">LinkedIn</a>
            </li>
            <li class="social">
                <a class="social__link" href="mailto:scoletta.developer@gmail.com" target="_blank" rel="noopener">Email</a>
            </li>
        </ul>
    </section>
</div>