@import 'abstracts/mixins';
@import 'abstracts/variables';

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 100px 0;
    max-width: 800px;
    margin: auto;
}

.about__title{
    flex: 1 1 100%;
    text-align: center;
    font-weight: 500;

    @media screen and (max-width: 535px) {
        font-size: 2rem;        
    }
}

.about__divider{
    flex: 1 1 100%;
}

.about__divider::after{
    width: 100px;
    border-bottom: 3px dotted white;
}

.about__text{
    flex: 1 1 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6.5rem;
    
    @media screen and (max-width: 670px) {
        font-size: 4rem;
        line-height: 5.5rem;
    }

    @media screen and (max-width: 535px) {
        font-size: 3rem;
        line-height: 4.5rem;
    }

    @media screen and (max-width: 475px) {
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

.about__link{
    @include link;
    color: $secondary-color;

    &:hover::after{
        background-color: $secondary-color;
    }
}