<div class="about">
    <h1 class="about__title">Something about Simone</h1>
    <div class="divider about_divider">
        <span class="divider__dot"></span>
        <span class="divider__dot"></span>
        <span class="divider__dot"></span>
    </div>
    <section class="about__text">
        <p>I’m very passionate about technology and <span class="highlight">web</span>.</p>
        <p>Can you define me a little nerd, 'cause I love all the new <span class="highlight">tech stuff</span> that come out everyday in all fields.</p>
        <p>I have the same passion for web, searching and testing every new technology I can put my hands on.</p>
        <p>As front end developer I search to mix cutting edge <span class="highlight">software practices</span> with well designed <span class="highlight">UI/UX interfaces</span>.</p>
        <p>I love working in team with other developers to share approaches and with designers, to create what they imagine.</p>
        <p>
            In my freetime I like take photos and dream about <span class="highlight">space exploration</span>, but my gf doesn’t like my idea to travel a day to <span class="highlight">Mars</span>.
        </p>
        <p>So I console myself thinking about our <a class="about__link" href="https://en.wikipedia.org/wiki/Japan" target="_blank" rel="noopener">next great trip</a> or <span class="highlight">eating pizza</span>.</p>
    </section>
</div>