@import 'abstracts/variables';

.wrapper{
    max-width: $wrapper-width;
    margin: auto;

    @media screen and (max-width: 1720px) {
        max-width: calc(100% - 250px);
    }

    @media screen and (max-width: 550px) {
        max-width: 100%;
        padding: 0 65px;
    }
}

.wrapper--not-found{
    max-width: 100%;
}