<vega-loader *ngIf="!isPageNotFound"></vega-loader>
<vega-header *ngIf="!isPageNotFound"></vega-header>
<div class="wrapper" [ngClass]="{ 'wrapper--not-found': isPageNotFound }">
  <router-outlet></router-outlet>
</div>
<vega-footer *ngIf="route != '/' && !isPageNotFound"></vega-footer>
