<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__portrait"></div>
        <h2 class="footer__message">
            Want to have a talk?<br>
            Leave me a <a class="footer__link" href="mailto:scoletta.developer@gmail.com">message!</a>
        </h2>
    </div>
</footer>