@import 'abstracts/variables';
@import 'abstracts/mixins';

.footer{
    width: 100%;
    background-color: $dark-theme-background-footer;
}

.footer__wrapper{
    max-width: $wrapper-width;
    margin: auto;
    padding: 80px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    @media screen and (max-width: 1720px) {
        max-width: calc(100% - 150px);
    }
    
    @media screen and (max-width: 1250px) {
        padding: 80px 50px;
    }

    @media screen and (max-width: 900px) {
        max-width: 100%;
    }

    @media screen and (max-width: 805px) {
        flex-wrap: wrap;
    }
}

.footer__message{
    color: $secondary-text-color;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 8rem;
    letter-spacing: -1px;
    margin: 0 0 0 95px;

    @media screen and (max-width: 900px) {
        font-size: 3.5rem;
        line-height: 6rem;
    }

    @media screen and (max-width: 805px) {
        font-size: 3.5rem;
        line-height: 6rem;
        margin: 45px 0 0 0;
        flex: 1 1 100%;
        text-align: center;
    }

    @media screen and (max-width: 568px) {
        padding: 0 50px;
        font-size: 3.5rem;
        line-height: 5rem;
    }

    @media screen and (max-width: 475px) {
        padding: 0 50px;
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

.footer__portrait{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: url('/assets/images/footer/simone-coletta-portrait.jpg') no-repeat center center;
    background-size: cover;

    @media screen and (max-width: 805px) {
        flex: 0 0 auto;
    }
}

.footer__link{  	
    @include link;
    color: $secondary-color;

    &::after{
        background-color: $secondary-color;
        height: 2px;
    }
}