@import 'abstracts/variables';

.repos__list{
    padding: 0;
    list-style: none;
}

.repos__element{
    padding: 15px;
}

.repos__link{
    width: 2.2rem;
    fill: $primary-text-color;
    color: $primary-text-color;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.repos__logo{
    max-width: 100%;
}

.repos__description{
    position: absolute;
    top: -8px;
    width: 95px;
    height: 20px;
    text-align: right;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 0;
    transition: all .2s ease-out;
    right: 35px;
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
}

.repos__element:hover .repos__description{
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all .13s ease-out;
}