<div class="experiences">
    <section class="jobs">
        <h2 class="jobs__title">EXPERIENCES</h2>
        <ul class="jobs__list">
            <li class="job">
                <h3 class="job__title">
                    <span class="job__employee">Docebo</span>
                    <span class="job__date">2020 - now</span>
                </h3>
                <h4 class="job__task">Frontend Web Developer</h4>
                <p class="job__description">
                    As frontend dev I'm in charge with my team of the informal learning section of the application, using Angular as JS framework in a AWS complete environment.<br>
                    The infrastructure is developed in a full CI/CD pipeline, serving tens of thousand of users all around the world.
                </p>
            </li>
            <li class="job">
                <h3 class="job__title">
                    <span class="job__employee">SIAV Spa</span>
                    <span class="job__date">2019 - 2020</span>
                </h3>
                <h4 class="job__task">Frontend Web Developer</h4>
                <p class="job__description">
                    Worked as frontend web developer in structured frontend team (10+ people).<br>
                    Worked on a web based documental software, with a SPA frontend in Angular and a backend based on microservices, container and cloud ready infrastructure.
                </p>
            </li>
            <li class="job">
                <h3 class="job__title">
                    <span class="job__employee">IT Euro Consulting</span>
                    <span class="job__date">2017 - 2019</span>
                </h3>
                <h4 class="job__task">Full stack Web Developer</h4>
                <p class="job__description">
                    Worked as full stack web developer in front end team.<br>
                    As IT consultant I worked on site on a project for developing a custome made ERP,
                    with a complex architecture.
                </p>
            </li>
            <li class="job">
                <h3 class="job__title">
                    <span class="job__employee">SCQUADRO</span>
                    <span class="job__date">2011 - now</span>
                </h3>
                <h4 class="job__task">Co-founder - Technical Manager</h4>
                <p class="job__description">
                    Managing web project, from the technical prerequisites to the resources management.<br>
                    Developing in first person the most I develop in first person the most important projects
                </p>
            </li>
            <li class="job">
                <h3 class="job__title">
                    <span class="job__employee">QWERTY Studio</span>
                    <span class="job__date">2015 - 2017</span>
                </h3>
                <h4 class="job__task">Full stack Web Developer</h4>
                <p class="job__description">
                    Worked as full stack web developer, especially in C# and Angular.<br>
                    Worked at various projects, intranet web portals, web applications and hybrid js mobile apps.
                </p>
            </li>
        </ul>
        <h3 class="resume"><a class="resume__link" href="/assets/documents/Simone-Coletta-CV-english.pdf" target="_blank" rel="noopener" gtagEvent trackOn="click">For more details see my full resume</a></h3>
    </section>
    <section class="projects">
        <h2 class="projects__title">PROJECTS</h2>
        <ul class="projects__list">
            <li class="project">
                <h3 class="project__number">1</h3>
                <p class="project__description">
                    Cloud LMS used by tens of thousand of users all around the world, localized in more than 50 languages.<br><br>
                    Development of informal learning section of the application.
                </p>
            </li>
            <li class="project">
                <h3 class="project__number">2</h3>
                <p class="project__description">
                    Industrial Intranet for the main reality in the public transport sector (ACTV).<br><br>
                    Complete development of the platform to manage the documental resources shared internally between the various company of the group.
                </p>
            </li>
            <li class="project">
                <h3 class="project__number">3</h3>
                <p class="project__description">
                    Web based application for the sharing and the searching of document. <br><br>
                    I developed an integration between AngularJS frontend and third part developed SharePoint services.
                </p>
            </li>
            <li class="project">
                <h3 class="project__number">4</h3>
                <p class="project__description">
                    Hybrid tablet application for the fruition of various cross platform contents (Cordova/AngularJS)
                </p>
            </li>
            <li class="project">
                <h3 class="project__number">5</h3>
                <p class="project__description">
                    Project for the course Udacity/Google on web technology, is a little web application written in Javascript ES6/7.<br><br>
                    <a class="project__link" href="https://github.com/collets/hinteat-client" target="_blank" rel="noopener">Project page</a>
                </p>
            </li>
            <li class="project">
                <h3 class="project__number">6</h3>
                <p class="project__description">
                    Website written in Angular 7, complete with Jasmine unit test and continuous integration / delivery on Bitbucket Pipelines.<br><br>
                    <a class="project__link" href="https://bitbucket.org/scquadro/felis.client" target="_blank" rel="noopener">Project page</a>  
                </p>
            </li>
        </ul>
    </section>
    <div class="divider experiences_divider">
        <span class="divider__dot"></span>
        <span class="divider__dot"></span>
        <span class="divider__dot"></span>
    </div>
    <section class="stack">
        <h2 class="stack__title">TECHNOLOGY STACK</h2>
        <ul class="stack__list">
            <li class="technology">
                <svg class="technology__icon technology__icon--angular" viewBox="20 30 200 200">
                    <polygon fill="#DD0031" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2 	"></polygon>
                    <polygon fill="#C3002F" points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30 	"></polygon>
                    <path fill="#FFFFFF" class="st2" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
                        L125,52.1z M142,135.4H108l17-40.9L142,135.4z"></path>
                </svg>
                <h3 class="technology__name">Angular</h3>
            </li>
            <li class="technology">
                <svg class="technology__icon technology__icon--typescript" fill="#007ACC" viewBox="0 0 256.000000 256.000000">
                    <rect width="256" height="256" fill="#FFFFFF" zindex="-1"></rect>
                    <path d="M0 128v128h256V0H0v128zm157-4.5V135h-33v105H97V135H64v-23h93v11.5zm65-10.1c4.1.8 8.7 1.9 10.3 2.5l2.7 1.1v12.5c0 6.9-.2 12.5-.4 12.5s-2.3-1.1-4.7-2.4c-9-5.1-23.4-7-32.2-4.4-2.1.6-5.2 2.5-6.8 4.1-2.4 2.3-2.9 3.7-2.9 7.4 0 4 .5 5.1 3.8 8.2 2.1 2 9.9 6.6 17.5 10.4 16 7.9 24.1 14.6 27.8 22.9 3.3 7.4 3.4 23 .2 30-3 6.6-9.6 13.3-16.1 16.4-13.8 6.5-36.3 7.1-53.9 1.3l-6.3-2.1V206l5 3.6c6.5 4.7 14.9 7.6 23.7 8.2 8.8.6 15.3-1 19.3-4.8 2.5-2.3 3-3.6 3-7.4 0-7.3-4.2-11.1-21.4-19.5-15.2-7.5-20-10.9-24.5-17.5-10-14.5-7-36.7 6.4-46.8 11.4-8.7 30.3-11.9 49.5-8.4z"></path>
                </svg>
                <h3 class="technology__name">Typescript</h3>
            </li>
            <li class="technology">
                <svg class="technology__icon technology__icon--javascript" viewBox="0 0 630 630">
                    <rect width="630" height="630" fill="#f7df1e"/>
                    <path d="m423.2 492.19c12.69 20.72 29.2 35.95 58.4 35.95 24.53 0 40.2-12.26 40.2-29.2 0-20.3-16.1-27.49-43.1-39.3l-14.8-6.35c-42.72-18.2-71.1-41-71.1-89.2 0-44.4 33.83-78.2 86.7-78.2 37.64 0 64.7 13.1 84.2 47.4l-46.1 29.6c-10.15-18.2-21.1-25.37-38.1-25.37-17.34 0-28.33 11-28.33 25.37 0 17.76 11 24.95 36.4 35.95l14.8 6.34c50.3 21.57 78.7 43.56 78.7 93 0 53.3-41.87 82.5-98.1 82.5-54.98 0-90.5-26.2-107.88-60.54zm-209.13 5.13c9.3 16.5 17.76 30.45 38.1 30.45 19.45 0 31.72-7.61 31.72-37.2v-201.3h59.2v202.1c0 61.3-35.94 89.2-88.4 89.2-47.4 0-74.85-24.53-88.81-54.075z"/>
                </svg>
                <h3 class="technology__name">Javascript</h3>
            </li>
            <li class="technology">
                <svg class="technology__icon technology__icon--jasmine" fill="#8A4182" viewBox="0 0 256 255">
                    <path d="M118.267273,149.665989 L138.061818,149.665989 L142.98,156.398644 L142.98,209.126328 L113.352727,209.126328 L113.352727,156.39322 L118.267273,149.665989"></path>
                    <path d="M105.508545,126.148701 L111.623636,144.865989 L106.705273,151.596836 L56.2712727,167.889718 L47.1172727,139.87435 L97.5567273,123.577853 L105.508545,126.148701"></path>
                    <path d="M124.06,106.813107 L108.047636,118.383729 L100.088727,115.811073 L68.9203636,73.1516384 L92.8878182,55.8376497 L124.06,98.4985311 L124.06,106.813107"></path>
                    <path d="M148.285455,118.385537 L132.269091,106.816723 L132.272727,98.4967232 L163.441818,55.8376497 L187.410909,73.1516384 L156.236364,115.814689 L148.285455,118.385537"></path>
                    <path d="M144.701818,144.869605 L150.82,126.150508 L158.778182,123.581469 L209.212727,139.87435 L200.056364,167.891525 L149.62,151.595028 L144.701818,144.869605"></path>
                    <path d="M128.170909,254.893559 C57.7094545,254.893559 0.383454545,197.901017 0.383454545,127.848136 C0.383454545,57.7697627 57.7094545,0.761310734 128.170909,0.761310734 C198.625455,0.761310734 255.945455,57.7697627 255.945455,127.848136 C255.945455,197.901017 198.625455,254.893559 128.170909,254.893559 L128.170909,254.893559 L128.170909,254.893559 Z M128.170909,229.168814 C184.44,229.168814 230.070909,183.811977 230.070909,127.848136 C230.070909,71.8662147 184.44,26.4894915 128.170909,26.4894915 C71.8827273,26.4894915 26.2578182,71.8662147 26.2578182,127.848136 C26.2578182,183.811977 71.8827273,229.168814 128.170909,229.168814 L128.170909,229.168814 Z"></path>
                    <path d="M205.565455,99.6085876 L167.227273,111.996384 L169.761818,119.761356 L208.1,107.373559 L205.565455,99.6085876"></path>
                    <path d="M156.669091,160.809944 L150.025455,165.608136 L173.718182,198.03661 L180.361818,193.238418 L156.669091,160.809944"></path>
                    <path d="M100.071818,161.104633 L76.3821818,193.534915 L83.0263636,198.333107 L106.716,165.904633 L100.071818,161.104633"></path>
                    <path d="M50.608,100.093107 L48.0718182,107.858079 L86.4061818,120.240452 L88.9425455,112.47548 L50.608,100.093107"></path>
                    <path d="M123.807273,46.8411299 L132.018218,46.8411299 L132.018218,86.9259209 L123.807273,86.9259209 L123.807273,46.8411299 L123.807273,46.8411299 Z"></path>
                </svg>
                <h3 class="technology__name">Jasmine</h3>
            </li>
            <li class="technology">
                <svg class="technology__icon technology__icon--karma" fill="#56c5a8" viewBox="90 -1900 1900 2100">
                    <g transform="scale(1, -1)">
                    <path fill="#339a89" d="M 1247.1,497.781 1580.77,0 2086.81,0 1494.58,875.016 1247.1,497.781"></path>
                    <path fill="#339a89" d="M 240.547,221.488 474.922,442.281 849.641,0 609.094,887.191 387.129,556.289 240.547,221.488"></path>
                    <path d="M 240.547,221.488 609.094,887.191 374.773,666.297 0,1108.59 240.547,221.488"></path>
                    <path d="m 2038.56,1603.08 -506.04,0 -309.93,-457.92 0,457.92 -464.184,0 0,-474.93 L 1005.9,216.012 1063.58,0 l 159.01,0 0,400.781 815.97,1202.299"></path>
                    </g>
                </svg>
                <h3 class="technology__name">Karma</h3>
            </li>
            <li class="technology">
                <svg class="technology__icon technology__icon--sass"  viewBox="0 0 512 384">
                    <path fill="#CF649A" d="M440.6 220.6c-17.9.1-33.4 4.4-46.4 10.8-4.8-9.5-9.6-17.8-10.4-24-.9-7.2-2-11.6-.9-20.2s6.1-20.8 6.1-21.8c-.1-.9-1.1-5.3-11.4-5.4-10.3-.1-19.2 2-20.2 4.7s-3 8.9-4.3 15.3c-1.8 9.4-20.6 42.7-31.3 60.2-3.5-6.8-6.5-12.8-7.1-17.6-.9-7.2-2-11.6-.9-20.2s6.1-20.8 6.1-21.8c-.1-.9-1.1-5.3-11.4-5.4-10.3-.1-19.2 2-20.2 4.7s-2.1 9.1-4.3 15.3c-2.1 6.2-27.1 61.8-33.6 76.3-3.3 7.4-6.2 13.3-8.3 17.3s-.1.3-.3.7c-1.8 3.4-2.8 5.3-2.8 5.3v.1c-1.4 2.5-2.9 4.9-3.6 4.9-.5 0-1.5-6.7.2-15.9 3.7-19.3 12.7-49.4 12.6-50.5 0-.5 1.7-5.8-5.8-8.5-7.3-2.7-9.9 1.8-10.5 1.8-.6 0-1.1 1.6-1.1 1.6s8.1-33.9-15.5-33.9c-14.8 0-35.2 16.1-45.3 30.8-6.4 3.5-20 10.9-34.4 18.8-5.5 3-11.2 6.2-16.6 9.1l-1.1-1.2c-28.6-30.5-81.5-52.1-79.3-93.1.8-14.9 6-54.2 101.6-101.8 78.3-39 141-28.3 151.9-4.5 15.5 34-33.5 97.2-114.9 106.3-31 3.5-47.3-8.5-51.4-13-4.3-4.7-4.9-4.9-6.5-4-2.6 1.4-1 5.6 0 8.1 2.4 6.3 12.4 17.5 29.4 23.1 14.9 4.9 51.3 7.6 95.3-9.4 49.3-19.1 87.8-72.1 76.5-116.4-11.5-45.1-86.3-59.9-157-34.8-42.1 15-87.7 38.4-120.5 69.1-39 36.4-45.2 68.2-42.6 81.4 9.1 47.1 74 77.8 100 100.5-1.3.7-2.5 1.4-3.6 2-13 6.4-62.5 32.3-74.9 59.7-14 31 2.2 53.3 13 56.3 33.4 9.3 67.6-7.4 86.1-34.9 18.4-27.5 16.2-63.2 7.7-79.5l-.3-.6 10.2-6c6.6-3.9 13.1-7.5 18.8-10.6-3.2 8.7-5.5 19-6.7 34-1.4 17.6 5.8 40.4 15.3 49.4 4.2 3.9 9.2 4 12.3 4 11 0 16-9.1 21.5-20 6.8-13.3 12.8-28.7 12.8-28.7s-7.5 41.7 13 41.7c7.5 0 15-9.7 18.4-14.7v.1s.2-.3.6-1c.8-1.2 1.2-1.9 1.2-1.9v-.2c3-5.2 9.7-17.1 19.7-36.8 12.9-25.4 25.3-57.2 25.3-57.2s1.2 7.8 4.9 20.6c2.2 7.6 7 15.9 10.7 24-3 4.2-4.8 6.6-4.8 6.6l.1.1c-2.4 3.2-5.1 6.6-7.9 10-10.2 12.2-22.4 26.1-24 30.1-1.9 4.7-1.5 8.2 2.2 11 2.7 2 7.5 2.4 12.6 2 9.2-.6 15.6-2.9 18.8-4.3 5-1.8 10.7-4.5 16.2-8.5 10-7.4 16.1-17.9 15.5-31.9-.3-7.7-2.8-15.3-5.9-22.5.9-1.3 1.8-2.6 2.7-4 15.8-23.1 28-48.5 28-48.5s1.2 7.8 4.9 20.6c1.9 6.5 5.7 13.6 9.1 20.6-14.8 12.1-24.1 26.1-27.3 35.3-5.9 17-1.3 24.7 7.4 26.5 3.9.8 9.5-1 13.7-2.8 5.2-1.7 11.5-4.6 17.3-8.9 10-7.4 19.6-17.7 19.1-31.6-.3-6.4-2-12.7-4.3-18.7 12.6-5.2 28.9-8.2 49.6-5.7 44.5 5.2 53.3 33 51.6 44.6-1.7 11.6-11 18-14.1 20-3.1 1.9-4.1 2.6-3.8 4 .4 2.1 1.8 2 4.5 1.6 3.7-.6 23.4-9.5 24.2-30.9 1.2-27.5-24.9-57.5-71.2-57.2zm-343.2 115.7c-14.7 16.1-35.4 22.2-44.2 17-9.5-5.5-5.8-29.2 12.3-46.3 11-10.4 25.3-20 34.7-25.9 2.1-1.3 5.3-3.2 9.1-5.5.6-.4 1-.6 1-.6.7-.4 1.5-.9 2.3-1.4 6.7 24.4.3 45.8-15.2 62.7zm107.5-73.1c-5.1 12.5-15.9 44.6-22.4 42.8-5.6-1.5-9-25.8-1.1-49.8 4-12.1 12.5-26.5 17.5-32.1 8.1-9 16.9-12 19.1-8.3 2.6 4.8-9.9 39.6-13.1 47.4zm88.7 42.4c-2.2 1.1-4.2 1.9-5.1 1.3-.7-.4.9-1.9.9-1.9s11.1-11.9 15.5-17.4c2.5-3.2 5.5-6.9 8.7-11.1v1.2c0 14.4-13.8 24-20 27.9zm68.4-15.6c-1.6-1.2-1.4-4.9 4-16.5 2.1-4.6 6.9-12.3 15.2-19.6 1 3 1.6 5.9 1.5 8.6-.1 18-12.9 24.7-20.7 27.5z"/>
                </svg>
                <h3 class="technology__name">Sass</h3>
            </li>
            <li class="technology">
                <svg class="technology__icon technology__icon--webpack" viewBox="0 0 1200 1200">
                    <path fill="#FFF" d="M600 0l530.3 300v600L600 1200 69.7 900V300z"></path>
                    <path fill="#8ED6FB" class="st1" d="M1035.6 879.3l-418.1 236.5V931.6L878 788.3l157.6 91zm28.6-25.9V358.8l-153 88.3V765l153 88.4zm-901.5 25.9l418.1 236.5V931.6L320.3 788.3l-157.6 91zm-28.6-25.9V358.8l153 88.3V765l-153 88.4zM152 326.8L580.8 84.2v178.1L306.1 413.4l-2.1 1.2-152-87.8zm894.3 0L617.5 84.2v178.1l274.7 151.1 2.1 1.2 152-87.8z"></path>
                    <path fill="#1C78C0" d="M580.8 889.7l-257-141.3v-280l257 148.4v272.9zm36.7 0l257-141.3v-280l-257 148.4v272.9zm-18.3-283.6zM341.2 436l258-141.9 258 141.9-258 149-258-149z"></path>
                </svg>
                <h3 class="technology__name">Webpack</h3>
            </li>
            <li class="technology">
                <svg class="technology__icon technology__icon--gulp" viewBox="0 0 5105.4 5105.4">
                    <path fill="#e84a4a" d="M0 0h5105.4v5105.4H0z"></path>
                    <path fill="#FFFFFF" d="M1766.5 2586.7c-2.4 3.5-6.6 14.4-12.8 32.9-6.2 18.5-13.7 41.6-22.5 69.4-8.8 27.8-18.4 59-28.6 93.4-10.3 34.4-20.9 69.6-31.7 105.4-10.9 35.9-21.3 71-31.3 105.5-10 34.4-19 65.6-26.9 93.4-7.9 27.8-14.5 51.1-19.8 70-5.3 18.8-8.5 29.9-9.7 33.4-2.9 11.1-7.6 23.5-14.1 37.1-6.5 13.6-14.1 26.4-22.9 38.6-8.8 12.2-18.5 22.3-29.1 30.3-10.6 8-21.5 12-32.6 12-18.8 0-32.5-6.3-41-18.8s-12.8-35.5-12.8-68.9v-14.6c0-4.9.3-10.1.9-15.6.6-11.1 5-32 13.2-62.7 8.2-30.6 18.1-65.2 29.5-103.9s23.8-78.6 37-120.1c13.2-41.4 25.1-78.5 35.7-111.2-31.2 34.8-64.9 69.4-101.4 103.9-36.4 34.5-73.8 65.4-111.9 92.9-38.2 27.5-76.7 50-115.5 67.3-38.8 17.4-76.1 26.1-111.9 26.1-41.1 0-76.5-9.1-106.2-27.1-29.7-18.1-54.2-41.8-73.6-71s-33.8-62.3-43.2-99.2c-9.4-36.9-14.1-73.8-14.1-110.7v-13.6c0-4.2.3-8.3.9-12.5 3.5-66.8 13.1-135.4 28.6-205.7 15.6-70.3 36-140.3 61.3-209.8 25.3-69.6 54.5-137.6 87.7-204.1s69.3-129.3 108.4-188.4c39.1-59.1 80.6-113.6 124.7-163.4 44.1-49.8 89.3-92.6 135.7-128.4 46.4-35.8 93.3-63.8 140.6-84 47.3-20.2 94.2-30.3 140.6-30.3 53.5 0 105.2 14.6 155.1 43.8 49.9 29.2 96.6 76.6 140.1 142 10 14.6 16.3 29.4 18.9 44.4 2.6 15 4 29.1 4 42.3 0 31.3-7.5 56-22.5 74.1-15 18.1-32.8 27.1-53.3 27.1-18.8 0-36.3-9.9-52.4-29.8-16.2-19.8-34.2-48.2-54.2-85.1-18.8-33.4-39.5-57.6-62.1-72.6-22.6-15-47.2-22.4-73.6-22.4-41.1 0-85.1 17.1-131.8 51.2-46.7 34.1-93 79.2-138.8 135.2-45.8 56-89.8 120-131.8 192.1-42 72-79.2 145.8-111.5 221.3s-58 150-77.1 223.4c-19.1 73.4-28.6 139.4-28.6 197.9 0 19.5 1.3 39.5 4 60s7.6 39.2 15 55.9c7.3 16.7 17.3 30.5 30 41.2 12.6 10.8 28.6 16.2 48 16.2 21.7 0 46.4-7.3 74-21.9 27.6-14.6 56.3-33.7 85.9-57.4 29.7-23.7 59.5-50.5 89.5-80.4 30-29.9 57.9-60.2 83.7-90.8 25.8-30.6 48.8-60 68.7-88.2 20-28.2 35-52.7 44.9-73.6l82-245.3c10-26.4 23.1-45.2 39.2-56.4 16.2-11.1 32.8-16.7 49.8-16.7 8.2 0 16.4 1.4 24.7 4.2 8.2 2.8 15.6 7.1 22 13.1 6.5 5.9 11.6 13.6 15.4 23 3.8 9.4 5.7 20.4 5.7 32.9 0 33.4-2.9 64.7-8.8 94-5.9 29.3-13.4 57.8-22.5 85.6-9.1 27.8-19.2 55.9-30.4 84-11 28-21.9 57.4-32.4 88.1zM2877.9 2791.3c-25.9 34.8-56 68.7-90.3 101.8-34.4 33.1-69.8 62.5-106.2 88.2-36.4 25.7-72.3 46.4-107.5 62.1-35.3 15.7-67 23.5-95.2 23.5s-51.1-9.4-68.8-28.2c-17.6-18.8-26.4-50.8-26.4-96.1 0-32 4.7-69.3 14.1-111.7-15.3 27.2-34.4 54.7-57.3 82.5-22.9 27.8-49.1 53.2-78.5 76.2s-62.3 41.6-98.7 55.8c-36.4 14.3-76.1 21.4-119 21.4-19.4 0-38.1-2.4-56-7.3s-33.6-13.2-47.1-25-24.4-27.6-32.6-47.5c-8.2-19.8-12.3-44.7-12.3-74.6 0-.7 1.2-11.3 3.5-31.8s9.8-52.9 22.5-97.1c12.6-44.2 32.2-101.4 58.6-171.7 26.5-70.3 63.8-155.5 111.9-255.8 12.3-26.4 26.6-45.4 42.7-56.9 16.2-11.5 33.6-17.2 52.4-17.2 8.2 0 16.7 1.2 25.6 3.6 8.8 2.5 17 6.3 24.7 11.5 7.6 5.2 13.8 11.8 18.5 19.8 4.7 8 7.1 17.2 7.1 27.7 0 7-.9 13.6-2.7 19.8-2.9 11.9-9.2 27.3-19 46.5-9.7 19.2-21 41.1-33.9 65.8-12.9 24.7-26.6 51.3-41 79.9-14.4 28.5-27.8 58.1-40.1 88.7s-22.9 61.8-31.7 93.4c-8.8 31.7-13.8 62.5-15 92.4 0 12.5 2.9 24 8.8 34.5 5.9 10.4 15.6 15.7 29.1 15.7 38.2 0 74.6-12.5 109.3-37.6 34.7-25 66.7-56.2 96.1-93.4 29.4-37.2 56-77.2 79.8-120.1 23.8-42.8 43.7-81.9 59.5-117.4 11.2-23.7 21-49.1 29.5-76.2s17.8-52.2 27.8-75.2 21.4-42.1 34.4-57.4c12.9-15.3 29.1-23 48.5-23 21.1 0 37.9 8 50.2 24 12.3 16 18.5 35.2 18.5 57.4 0 12.5-3.9 29.8-11.9 51.7-8 21.9-17.9 47-30 75.2-12 28.2-25.1 58.3-39.2 90.3-14.1 32-27.2 64.6-39.2 97.6-12.1 33.1-22 65.4-30 97.1-7.9 31.7-11.9 61.1-11.9 88.2 0 25.1 12.9 37.6 38.8 37.6 18.2 0 40.8-6.3 67.9-18.8 27.1-12.5 55.4-30.1 85.1-52.7 29.7-22.6 59.3-49.2 89-79.9 29.7-30.6 56-63.7 78.9-99.2l8.7 141.9z"></path>
                    <path fill="#FFFFFF" d="M2905.3 2739.1c-6.5 16-12.8 34.6-19 55.9-6.2 21.2-9.2 40.2-9.2 56.9 0 10.4 1.8 18.8 5.3 25.1 3.5 6.3 10.3 9.4 20.3 9.4 12.3 0 27.7-4.3 46.3-13.1 18.5-8.7 38.5-20.2 59.9-34.5 21.5-14.2 43.8-30.6 67-49.1 23.2-18.4 46.3-37.6 69.2-57.4 22.9-19.9 44.8-39.7 65.7-59.5 20.9-19.9 39.5-38.1 56-54.8 4.7-4.9 10.3-8.4 16.7-10.4 6.4-2.1 12-3.1 16.7-3.1 11.7 0 21.5 4.9 29.1 14.6 7.6 9.7 11.4 22.6 11.4 38.6 0 14.6-4.1 31-12.3 49.1-8.2 18.1-22.6 35.9-43.2 53.2-37.6 41.1-75.5 80-113.7 116.9-38.2 36.9-76.2 69.4-114.1 97.6-37.9 28.2-75.5 50.6-112.8 67.4-37.3 16.7-73.6 25-108.9 25-24.1 0-44.2-3.8-60.4-11.5-16.2-7.7-29.1-18.1-38.8-31.3-9.7-13.2-16.6-28.9-20.7-47-4.1-18.1-6.2-37.2-6.2-57.4 0-34.1 4.3-69.1 12.8-104.9 8.5-35.8 18.6-68.7 30.4-98.6 20.6-54.3 41.4-108.2 62.6-161.8 21.1-53.6 40.5-102.7 58.2-147.2l267-673.4c10.6-27.1 24.8-46.3 42.8-57.4 17.9-11.1 36-16.7 54.2-16.7 18.2 0 34.8 5.9 49.8 17.7 15 11.8 22.5 31 22.5 57.4 0 12.5-2.5 25.8-7.5 39.7-5 13.9-11.3 28.9-18.9 44.9-14.7 32.7-32.2 72.7-52.4 120-20.3 47.3-42 98.8-65.2 154.5-23.2 55.7-47 113.6-71.4 173.8-24.4 60.2-48.2 118.8-71.4 175.9-23.2 57.1-44.9 111.2-65.2 162.3-20.5 51.2-38 95.6-52.6 133.2z"></path>
                    <path fill="#FFFFFF" d="M4154.2 2550.1c8.2-5.6 15.9-10.1 22.9-13.6 7-3.5 13.8-5.2 20.3-5.2 12.9 0 22.6 5.8 29.1 17.2 6.5 11.5 9.7 25.6 9.7 42.3 0 18.1-3.9 36.5-11.9 55.3-7.9 18.8-19.8 34.4-35.7 47-62.9 55.7-119 106.5-168.3 152.4-49.4 45.9-95.9 85.4-139.7 118.5-43.8 33.1-86.5 58.6-128.2 76.7-41.7 18.1-86.4 27.1-134 27.1-44.7 0-79.2-9.8-103.6-29.2-24.4-19.5-36.6-46.3-36.6-80.4v-7.8c0-2.4.3-5.4.9-8.9 2.3-20.9 11.5-44.9 27.3-72 15.9-27.1 35-55.3 57.3-84.6s46.1-58.8 71.4-88.7c25.3-29.9 48.6-58.3 70.1-85.1 21.4-26.8 39.2-51.3 53.3-73.6 14.1-22.3 21.2-40.3 21.2-54.3 0-8.4-3-15-8.8-19.8-5.9-4.9-15.6-7.3-29.1-7.3-23.5 0-47.7 6.1-72.7 18.3-25 12.2-49.7 28.5-74 49-24.4 20.5-48.2 44-71.4 70.5-23.2 26.5-44.9 53.9-65.2 82.5-20.3 28.6-38.8 57.2-55.5 86.1-16.7 28.9-31 55.5-42.7 79.9-3.5 7.7-8.5 18.5-15 32.4-6.5 13.9-13.5 29.6-21.1 47-7.7 17.4-15.7 35.3-24.3 53.7-8.5 18.5-16.3 35.9-23.3 52.2-7.1 16.4-13.4 30.9-19 43.9-5.6 12.9-9.6 21.7-11.9 26.6-3 6.3-7.8 18.1-14.6 35.5s-14.5 37.7-23.4 61.1c-8.8 23.3-18.1 47.8-27.7 73.6-9.7 25.8-18.8 50.1-27.3 73.1-8.5 23-16 43.1-22.5 60.5s-10.6 29.2-12.4 35.5c-5.9 18.1-12.8 35.1-20.7 51.2-7.9 16-17 30.1-27.3 42.3-10.3 12.2-22 21.9-35.3 29.2-13.2 7.3-28.1 10.9-44.5 10.9-21.2 0-38.6-5.1-52.5-15.1-13.8-10.1-20.7-29.4-20.7-57.9 0-13.9 1.8-28.2 5.3-42.8 3.5-14.6 8-29.1 13.2-43.3 5.3-14.3 10.7-28.2 16.3-41.7 5.6-13.6 10.7-26.6 15.4-39.2 31.7-69.6 64.1-139.4 97-209.3 32.9-70 64.5-139.2 94.7-207.8 30.3-68.5 58.3-135.9 84.2-202 25.8-66.1 47.3-129.5 64.3-190 4.7-12.5 11.2-30.3 19.4-53.3 8.2-23 17.6-45.6 28.2-67.9 10.6-22.3 22.5-41.6 35.7-57.9 13.2-16.4 27.5-24.5 42.7-24.5 23.5 0 40.5 5.4 51.1 16.2 10.6 10.8 15.9 26.6 15.9 47.5 0 4.2-.6 10.8-1.8 19.8-1.2 9-2.7 18.6-4.4 28.7-1.8 10.1-3.7 19.7-5.7 28.7-2.1 9-4 15.6-5.7 19.8 21.7-23.7 45.2-47.1 70.5-70.5 25.3-23.3 51.4-44.4 78.5-63.2 27-18.8 54.6-34.1 82.8-46 28.2-11.8 56.4-17.7 84.6-17.7 19.4 0 38.6 2.8 57.7 8.4 19.1 5.6 36.1 13.7 51.1 24.5s27.2 24.4 36.6 40.7c9.4 16.4 14.1 35.3 14.1 56.9 0 28.6-7.2 59-21.6 91.4-14.4 32.4-32.5 64.9-54.2 97.6-21.8 32.7-45.3 64.6-70.5 95.5-25.3 31-48.9 59.2-71 84.6-22 25.4-40.5 47-55.5 64.7-15 17.8-22.8 29.8-23.4 36 0 8.4 2.7 15.1 7.9 20.4s14.1 7.8 26.5 7.8c10 0 24.7-5.6 44.1-16.7 19.4-11.1 46.6-30.4 81.5-57.9s79.3-64.4 133.1-110.7c53.8-46.2 120.1-104.5 198.8-174.8z"></path>
                </svg>
                <h3 class="technology__name">Gulp</h3>
            </li>
            <li class="technology">
                <svg class="technology__icon technology__icon--git" viewBox="0 0 97 97">
                    <g>
                        <path fill="#F05133" d="M92.71,44.408L52.591,4.291c-2.31-2.311-6.057-2.311-8.369,0l-8.33,8.332L46.459,23.19   c2.456-0.83,5.272-0.273,7.229,1.685c1.969,1.97,2.521,4.81,1.67,7.275l10.186,10.185c2.465-0.85,5.307-0.3,7.275,1.671   c2.75,2.75,2.75,7.206,0,9.958c-2.752,2.751-7.208,2.751-9.961,0c-2.068-2.07-2.58-5.11-1.531-7.658l-9.5-9.499v24.997   c0.67,0.332,1.303,0.774,1.861,1.332c2.75,2.75,2.75,7.206,0,9.959c-2.75,2.749-7.209,2.749-9.957,0c-2.75-2.754-2.75-7.21,0-9.959   c0.68-0.679,1.467-1.193,2.307-1.537V36.369c-0.84-0.344-1.625-0.853-2.307-1.537c-2.083-2.082-2.584-5.14-1.516-7.698   L31.798,16.715L4.288,44.222c-2.311,2.313-2.311,6.06,0,8.371l40.121,40.118c2.31,2.311,6.056,2.311,8.369,0L92.71,52.779   C95.021,50.468,95.021,46.719,92.71,44.408z"/>
                    </g>
                </svg>
                <h3 class="technology__name">Git</h3>
            </li>
        </ul>
    </section>
</div>