@import 'abstracts/variables';
@import 'abstracts/mixins';

.experiences{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}

.jobs,
.projects{
    flex: 0 0 calc(50% - 50px);
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;    
    flex-direction: column;

    @media screen and (max-width: 1300px) {
        flex: 0 0 calc(50% - 30px);     
    }

    @media screen and (max-width: 950px) {
        flex: 1 1 100%;     
    }
}

.jobs__title,
.projects__title,
.stack__title{
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.jobs__list,
.projects__list{
    padding: 0;
    list-style: none;
}

.job,
.project{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.project:last-child{
    margin: 0;
}

.job__title,
.project__number{
    font-size: 2.4rem;
    font-weight: 600;
    color: $secondary-color;    

    @media screen and (max-width: 425px) {
        font-size: 1.8rem;  
    }
}

.job__title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    @media screen and (min-width: 650px) and (max-width: 900px) {
        width: 90%;
    }
}

.job__employee,
.job__date{
    flex: 1 1 45%;
}

.job__date{
    text-align: right;
}

.project__number{    
    margin-bottom: 10px;
}

.job__task {
    margin: 0;
    font-weight: 500;
    font-size: 2.2rem;
    letter-spacing: 1px;  

    @media screen and (max-width: 425px) {
        font-size: 2rem;  
    }
}

.job__description,
.project__description{
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 1px;
    margin: 5px 0 0 0;

    @media screen and (max-width: 425px) {
        font-size: 2rem;  
        line-height: 2.4rem;
    }
}

.project__link{
    @include link;
    
    color: $secondary-color;
}

.project__link::after{    
    background-color: $secondary-color;
}

.resume{
    font-size: 5.2rem;
    font-weight: 600;
    margin: 0;
    // align-self: flex-end;
    margin-top: auto;

    @media screen and (max-width: 425px) {
        font-size: 3.6rem;
    }
}

.resume__link{
    @include link;
    
    color: $secondary-color;

    &:hover, &:active, &:focus{
        color: $primary-text-color;
    }
}

.resume__link::after{    
    display: none;
}

.experiences_divider{
    flex: 1 1 100%;
    padding: 100px 0;
}

.stack{
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stack__title{
    flex: 1 1 100%;
    text-align: center;
}

.stack__list{
    flex: 1 1 100%;
    padding: 50px 0 0 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.technology{
    text-align: center;
    margin: 15px 50px;

    @media screen and (max-width: 900px) {
        margin: 15px 25px;
        width: 100px;
    }

    @media screen and (max-width: 475px) {
        margin: 15px 13px;
        width: 95px;
    }
}

.technology__icon{
    height: 100px;

    @media screen and (max-width: 900px) {
        height: 75px;
    }

    @media screen and (max-width: 475px) {
        height: 50px;
    }
}

.technology__name{
    font-size: 2rem;
    font-weight: 600;
}