<div class="not-found">
  <h2 class="not-found__code">
    404
  </h2>
  <div class="not-found__content">
    <h1 class="lost-page">Seems you're searching for a lost page.</h1>
    <a class="back-home" [routerLink]="'/'">Back to home</a>
  </div>
</div>