@import 'abstracts/variables';
@import 'abstracts/mixins';

.not-found{
    display: flex;
    justify-content: flex-end;
}

.not-found__code{
    color: $secondary-color;
    font-size: 43rem;
    position: absolute;
    top: -201px;
    left: -243px;
    transform: scaleX(2) rotate(90deg);

    @media screen and (max-width: 1270px) {
        font-size: 33rem;
        top: -164px;
        left: -182px;
    }

    @media screen and (max-width: 975px) {
        font-size: 25rem;
        top: -95px;
        left: -136px;
    }

    @media screen and (max-width: 770px) {
        font-size: 20rem;
        top: 276px;
        right: 185px;
        margin: 0;
    }
}

.not-found__content{
    padding: 150px 250px;
    width: 600px;

    @media screen and (max-width: 1500px) {
        padding: 150px 70px;
    }

    @media screen and (max-width: 1270px) {
        padding: 150px 40px;
        width: 460px;
    }

    @media screen and (max-width: 975px) {
        width: 364px;
    }

    @media screen and (max-width: 770px) {
        padding: 60px 20px;
        text-align: right;
    }

    @media screen and (max-width: 575px) {
        padding: 60px 0;
        margin: 0 auto;
    }
}

.lost-page{
    font-size: 6rem;
    font-weight: 600;

    @media screen and (max-width: 1270px) {
        font-size: 4rem;
    }

    @media screen and (max-width: 975px) {
        font-size: 3rem;
    }
}

.back-home{
    @include link;
    color: $secondary-color;
    font-size: 3rem;

    @media screen and (max-width: 975px) {
        font-size: 2rem;
    }
}

.back-home:hover::after{
    background-color: $secondary-color;
}