@import 'abstracts/variables';
@import 'abstracts/mixins';

.menu__title{
    font-size: 2.2rem;

    @media screen and (max-width: 550px) {
       display: none;
    }
}

.menu__title--mobile{
    display: none;
    background-color: $secondary-color;
    color: $secondary-text-color;
    font-size: 1.6rem;
    padding: 15px 15px;
    margin: 0;

    @media screen and (max-width: 550px) {
       display: block;
    }
}

.menu__list{
    padding: 0;
    list-style: none;
    position: relative;
    margin-top: 40px;

    @media screen and (max-width: 550px) {       
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        top: 0;
        left: 0;
        z-index: 10;
        margin: 0;
        transform: translateX(100%);
        transition: transform 300ms ease-in;
    }

    &--open{
        transform: translateX(0);
        transition: transform 500ms cubic-bezier(.47,1.73,.28,.55);
    }
}

.menu__voice{
    font-size: 2rem;
    margin-bottom: 25px;
    transform: rotate(270deg);
    transform-origin: 15px 100%;
    position: absolute;

    @media screen and (max-width: 550px) {
        flex: 1 1 100%;
        margin: 25px 0;
        text-align: center;
        position: relative;
        transform: none;
        transform-origin: 50% 50%;
    }
}

@media screen and (min-width: 551px) {
    .menu__voice:first-child{
        top: 0;
        width: 80px;
    
    }
    
    .menu__voice:nth-of-type(2){
        top: 110px;
        width: 70px;
    }
    
    .menu__voice:nth-of-type(3){
        top: 270px;
    }
}

.menu__link{
    @include link;

    @media screen and (max-width: 550px) {
        display: none;
    }

    &--mobile{
        display: none;

        @media screen and (max-width: 550px) {
            display: block;
            font-size: 2.6rem;
            font-weight: 600;
        }
    }
}

.menu__link::after{
    
    @media screen and (max-width: 550px) {
        display: none;
    }
}

.menu__link--active::after{
    width: 100%;
}

.close-menu{
    display: none;
    
    @media screen and (max-width: 550px) {
        display: block;

        position: absolute;

        right: 25px;
        bottom: 50px;
        width: 32px;
        height: 32px;
    }
}

.close-menu:before, .close-menu:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $secondary-color;
}
.close-menu:before {
    transform: rotate(45deg);
}
.close-menu:after {
    transform: rotate(-45deg);
}