<nav class="menu">
  <!-- <h3 class="menu__title">MENU</h3> -->
  <h3 class="menu__title menu__title--mobile" (click)="toggleMenu()">MENU</h3>
  <ul class="menu__list" [ngClass]="{ 'menu__list--open': mobileMenuOpen }">
    <li class="menu__voice" *ngFor="let menuVoice of menuVoices">
      <a class="menu__link" 
        [routerLink]="menuVoice.target" 
        [routerLinkActive]="['menu__link--active']"
        [routerLinkActiveOptions]="{ exact: true }">{{menuVoice.text}}</a>
      <a class="menu__link menu__link--mobile"
        [routerLink]="menuVoice.target" 
        (click)="toggleMenu()">{{menuVoice.text}}</a>
    </li>
    <li class="close-menu-container">
      <a class="close-menu" (click)="toggleMenu()"></a>
    </li>
  </ul>
</nav>