@import 'abstracts/variables';

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark-theme-background;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 2.4rem;
  animation: appear 800ms normal forwards ease-in-out;
  animation-delay: 5.5s;
  z-index: 999;
}

@keyframes appear {
  from {
    opacity: 1;
    z-index: 999;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes moveout-first {
  0% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  2% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  27% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(10px); transform: translateY(10px); -moz-transform: translateY(10px); -ms-transform: translateY(10px); -o-transform: translateY(10px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes moveout {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  27% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(10px); transform: translateY(10px); -moz-transform: translateY(10px); -ms-transform: translateY(10px); -o-transform: translateY(10px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}

.loader__text{
  overflow: hidden;
  display: inline-block;
  width: 300px;

  @media screen and (max-width: 950px) {
    width: calc(100% - 70px);
    margin-top: -100px;

    strong{
      display: block;
    }
  }
}

.loader__stages{
  display: inline;  
}

.loader__stage{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  animation: moveout 5.5s linear;
  -webkit-animation: moveout 5.5s linear;

  @media screen and (max-width: 950px) {
    width: calc(100% - 70px);
  }
}

.loader__stage--first{
  animation-delay: 0s;
  animation: moveout-first 4s linear;
  -webkit-animation: moveout-first 4s linear;
}

.loader__stage--second{
  animation-delay: 1.5s;
}

.loader__stage--third{
  animation-delay: 3s;
}

.loader__stage--fourth{
  animation-delay: 4.5s;
}