<div class="loader">
  <p class="loader__text">
    <strong>Operations in progress: </strong>
    <span class="loader__stages">
      <span class="loader__stage loader__stage--first">transcode secure encryption microchip</span>
      <span class="loader__stage loader__stage--second">connect to remote authentication server</span>
      <span class="loader__stage loader__stage--third">validate connection's hash key</span>
      <span class="loader__stage loader__stage--fourth">loading the website data</span>
    </span>
  </p>
</div>