.reference{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0;
    
    
    @media screen and (max-width: 900px) {
        font-weight: 600;
     }
}