@import 'abstracts/variables';

.divider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider__dot{
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: $secondary-color;
    margin: 25px 10px;
}