

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('/assets/fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('/assets/fonts/montserrat-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('/assets/fonts/montserrat-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('/assets/fonts/montserrat-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

body{
  font-size: 1.4rem;
}

.highlight{
  color: $secondary-color;
}