html{
  background-color: $dark-theme-background;
  color: $primary-text-color;
}

::-moz-selection { /* Code for Firefox */
  color: $secondary-text-color;
  background: $secondary-color;
}

::selection {
  color: $secondary-text-color; 
  background: $secondary-color;
}